<!DOCTYPE html>
<html>
  <head>
    <title>Owner Added</title>
    <style>
      /* Set the background color */
      body {
        background-color: rgb(208, 208, 186);
        font-family: Arial, sans-serif; /* Change this to any color you like */
      }

      /* Style the heading */
      h1 {
        color: black;
        text-align: center;
        margin-top: 50px;
        font-size: 48px;
        font-family: Arial, sans-serif;
      }

      /* Style the paragraph */
      p {
        color: #333;
        text-align: center;
        font-size: 24px;
        font-family: Arial, sans-serif;
      }
      #Back {
        background-color: rgba(127, 255, 212, 0.558);
        font-size: 24px;
        padding: 12px 24px;
        border-color: rgba(127, 255, 212, 0.558);
        box-sizing: border-box;
        border-radius: 5%;
      }
    </style>
  </head>
  <body>
    <h1>Owner is Added succesfully</h1>
    <form action="/select" method="get">
      <button id="Back">Back</button>
    </form>
  </body>
</html>
